.ProjectComponent {
    margin-left: 10px
}

.ownProjectComponent {
    margin-top: 10px;
    margin-right: 10px;
}

.ownProjectDescription {
    margin-top: 10px;
}

.subjectComponent {
    margin-top: 10px;
    margin-left: 30px;
}

.subjectInfo {
    display:flex
}
.otherProjectsComponent {
    margin-top: 10px;
    margin-right: 10px;
}

.technoIcons {
    display:flex;
    align-items: center;
}

.jokerBotDescription {
    padding-bottom: 10px;
}

.githubInfo {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    padding-right: 10px;
    
}